
<footer class="footer">
  <small>
  Practising Bootstrap on Rails
  </small>
  <nav>
    <ul>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Sign Out", '#' %></li>
    </ul>
  </nav>
</footer>
